<div class="container mt-3">
  <h1>Lists - #index</h1>
  <div class="cards">
    <ul>
      <% @lists.each do |list| %>
        <li><%= link_to list.name, list_path(list) %>
          <% if list.photo.attached? %>
            <%= cl_image_tag list.photo.key, width: 100, height: 75, crop: :fill %>
          <% else %>
            <%= image_tag 'https://plus.unsplash.com/premium_photo-1682125795272-4b81d19ea386?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmlsbSUyMHJvbGx8ZW58MHx8MHx8fDA%3D',  width: 100, height: 75, crop: :fill  %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div>
      <p> <%= link_to "New List", new_list_path %></p>
    </div>
</div>
